body {
    background-color: rgb(86, 163, 202);
}

.about_title {
    color: maroon;
    font-family: "Quicksand";
    font-size: 3.25em;
    margin-left: 1.5em;
}

.about {
    font-family: "Quicksand";
    font-size: 1.25em;
}

.languages {
    display: grid;
    width: 31.25em;
    grid-template-columns: 31.25em 75em;
    margin-left: 1.8em;
}

#languages_img {
    width: 25em;
    margin: 5em;
}

#languages_text {
    font-family: "Quicksand";
    font-size: 1.65em;
    margin-left: 4em;
    margin-top: 2.8em;
    width: 30em;
}

.contact_title {
    color: maroon;
    font-family: "Quicksand";
    font-size: 3.25em;
    margin-left: 1.5em;
}

.contact_section {
    font-family: "Quicksand";
    font-size: 1.75em;
    width: 25em;
    margin-left: 1.75em;
}

.home_button {
    font-family: "Quicksand";
    font-size: 1.75em;
    color: maroon;
}