body {
    background-color: rgb(86, 163, 202);
}

.about_title {
    color: maroon;
    font-family: "Quicksand";
    font-size: 50px;
    margin-left: 25px;
}

.about {
    font-family: "Quicksand";
    font-size: 20px;
}

.languages {
    border: 5px solid black;
    display: grid;
    width: 500px;
    grid-template-columns: 500px 1200px;
    margin-left: 30px;
}

#languages_img {
    width: 350px;
    margin: 75px;
}

#languages_text {
    font-family: "Quicksand";
    font-size: 25px;
    margin-left: 100px;
    margin-top: 50px;
    width: 800px;
}

.contact_title {
    color: maroon;
    font-family: "Quicksand";
    font-size: 50px;
    margin-left: 25px;
}

.contact_section {
    font-family: "Quicksand";
    font-size: 25px;
    width: 400px;
    margin-left: 25px;
}

.home_button {
    font-family: "Quicksand";
    font-size: 25px;
    color: maroon;
}