h1 {
    color: rgb(34, 122, 48);
    font-family: "Quicksand";
    font-size: 65px;
    text-align: center;
}

h2 {
    color: rgb(34, 162, 120);
    font-family: "Quicksand";
    text-align: center;
}