body {
    background-color: rgb(86, 163, 202);
}

h1 {
    color: maroon;
    font-family: "Quicksand";
    font-size: 4em;
    text-align: center;
}

h2 {
    color: rgb(25, 46, 39);
    font-family: "Quicksand";
    text-align: center;
}

#frederick_img {
    width: 34em;
    float: right;
    margin-right: 4.25em;
    margin-top: 3em;
    border: .25em solid black;
}

.fred_img_text {
    position: absolute;
    bottom: 11.5em;
    left: 56.25em;
    color: white;
    background-color: gray;
}

#about_me {
    width: 50%;
    height: 6.5em;
    display: inline-block;
    text-align: center;
    font-size: 3.4em;
    font-family: "Quicksand";
    color: maroon;
    border: .1em dashed black;
    margin: .8em;
    margin-top: 1em;
}

#form_a_story_img {
    width: 25em;
    margin: 2.5em;
    border: .3em solid black;
}

#piano_keys_img {
    width: 25em;
    margin: 2.5em;
    border: .3em solid black;

}

#club_website_img {
    width: 25em;
    margin: 2.5em;
    border: .3em solid black;
}

.grid {
    display: grid;
    width: 31.25em;
    grid-template-columns: 21.75em 21.75em 21.75em;
    column-gap: 7.8em;
    margin-left: 3.75em;
}

#form_a_story_about {
    font-family: "Quicksand";
    font-size: 1.5em;
}

#piano_keys_about {
    font-family: "Quicksand";
    font-size: 1.5em;
}

#club_website_about {
    font-family: "Quicksand";
    font-size: 1.5em;
}

.contact_link {
    font-size: 1.5em;
    font-family: "Quicksand";
    color: maroon;
}